@(message: String)

@main("Home") {
	<div class="row">
		<div class="col-md-8 col-xs-12">
			<div class="jumbotron">
				<h2>Upcoming Meals</h2>
			</div>
			<div class="jumbotron">
				<h2>Shopping List</h2>
			</div>
		</div>
		
		<div class="col-md-4 col-xs-6">
			<div class="button-group-vertical" role="group">
				<a href="/" class="btn btn-lg btn-default btn-block" type="button" role="button">Home</a>
				<a href="/mealplanner" class="btn btn-lg btn-default btn-block" type="button" role="button">Plan meals</a>
				<a href="/productmanager" class="btn btn-lg btn-default btn-block" type="button" role="button">Manage products</a>
				<a href="/recipemanager" class="btn btn-lg btn-default btn-block" type="button" role="button">Manage recipes</a>
				<a href="/people" class="btn btn-lg btn-default btn-block" type="button" role="button">Manage people</a>
			</div>
		</div>
	</div>
}