@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
		<meta content="width=device-width, initial-scale=1" name="viewport"></meta>
		
        <title>@title | meenu</title>
		
		<!-- Bootstrap with default theme -->
		<link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap-theme.min.css")">
		
		<!-- Custom CSS -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
		
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body role="document">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">meenu</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li id="home" class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
						<li id="mealplanner"><a href="/mealplanner">Meals</a></li>
						<li id="productmanager"><a href="/productmanager">Products</a></li>
						<li id="recipemanager"><a href="/recipemanager">Recipes</a></li>
						<li id="people"><a href="/people">People</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container theme-showcase" role="main">
			<div class="jumbotron text-center">
		        <div class="tc_div_92655 text-center" style="width:650px;height:162.50px;border:1px solid #C0C0C0;">
    		        <a title="Koding Hackaton" href="http://www.tickcounter.com/countdown/1456128000000/america-los_angeles/dhms/FFFFFF3B5998000000FF0000/Koding_Hackaton">Koding Hackaton</a>
    		        <a title="Countdown" href="http://www.tickcounter.com/">Countdown</a>
		        </div>
		        <script type="text/javascript">(function(){ var s=document.createElement('script');s.src="http://www.tickcounter.com/loader.js";s.async='async';s.onload=function() { tc_widget_loader('tc_div_92655', 'Countdown', 650, ['1456128000000', 'america-los_angeles', 'dhms', 'FFFFFF3B5998000000FF0000', '650', 'C0C0C01', 'Koding Hackaton']);};s.onreadystatechange=s.onload;var head=document.getElementsByTagName('head')[0];head.appendChild(s);}());</script>
		    </div>
			@content
		</div>
		
		<!-- Load JavaScript at last, maybe page load is quicker? -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </body>
</html>
