@(producttypes: List[meenu.models.ProductType])(productslist: List[meenu.models.Product])

@main("Manage products") {
	<div class="jumbotron">
		<h2>Manage product types</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Product type</th>
					<th># of products</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				@producttypes.map { productType =>
					<tr>
						<td><a href="/productmanager/producttype/@productType.productName">@productType.productName</a></td>
						<td>@productType.list.size()</td>
						<td><a href="#"><span class="glyphicon glyphicon-remove"></span><span class="sr-only">Delete product type</span></a></td>
					</tr>
				}
			</tbody>
		</table>
		<a href="/productmanager/producttype/" role="button" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span><span class="sr-only">Add product type</span></a>
	</div>
	
	<div class="jumbotron">
		<h2>Manage products</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Product name</th>
					<th>Type</th>
					<th>Quantity</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				@productslist.map { product =>
					<tr>
						<td><a href="/productmanager/product/@product.productName">@product.productName</a></td>
						<td>@product.prodtype.productName</td>
						<td>@product.quantity.amount @product.quantity.measurementUnit</td>
						<td><a href="#"><span class="glyphicon glyphicon-remove"></span><span class="sr-only">Delete product</span></a></td>
					</td>
				}
			</tbody>
		</table>
	</div>
}
